.body{
    background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
    min-height: 801px;
  }
  
  .body::-webkit-scrollbar {
    height: 7px;
  }
  
  .body::-webkit-scrollbar {
    border-radius: 10px;
    background: #30353b;
  }

.img{
  height: 350px;
  width: 500px
}